<h2>My Work Terms</h2>
<body>
  <ul *ngIf="workTerms">
    <li class="grow" *ngFor="let workTerm of workTerms">
      <a href="#" class="btn" routerLink="/{{workTerm.workTerm}}"></a>
      <div class="card" style="width:280px">
        <img class="card-img-top" src="assets/img/{{workTerm.company}}.png" alt="company logo">
        <div class="card-body">
          <p class="workTermNumber"> {{ workTerm.workTerm }}</p>
          <p class="company">{{ workTerm.company }}</p>
          <p class="position">{{ workTerm.position }}</p>
        </div>
      </div>
    </li>
  </ul>
</body>
