ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  li {
    background: transparent;
    background: white;
    background-size: 100% 100%;
    border-radius: 7px;
    border: 1px solid black;
    margin-right: 10px;
    width: 20%;
    height: 150px;
    margin-bottom: 1em;
    position: relative;
    display: flex;
    flex-direction: column;

    p {
      color: black;
      margin-bottom: 0px;
    }

    p.workTermNumber {
      grid-row: 1;
      font-size: 1.5rem;
    }

    p.company, p.position {
      font-size: 1.2rem;
    }

    .grid_container {
      position: relative;
    }

    .btn {
      width: 105%;
      height: 105%;
      background: transparent;
      position: absolute;
      z-index: 1000;
    }

    .img_layer {
      z-index: 1;
      width: 100%;
      height: 100%;
    }

    .img {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      width: 100%;
      height: 40%;
      border-bottom: black 2px solid;
    }
  }
  .grow { transition: all .1s ease-in-out; }
  .grow:hover {
    z-index: 1000;
    transform: scale(1.2);
  }
}

