$primarygray: rgb(56, 58, 63);

ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  li {
    background: white;
    background-size: 100% 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 10px;

    p {
      color: black;
      margin-bottom: 0px;
    }

    p.workTermNumber {
      grid-row: 1;
      font-size: 1.5rem;
    }

    p.company, p.position {
      font-size: 1.2rem;
    }

    .btn {
      width: 100%;
      height: 100%;
      background: transparent;
      position: absolute;
      z-index: 1000;
    }
  }
  .grow {
    background-color: transparent;
    transition: all .1s ease-in-out;
  }
  .grow:hover {
    z-index: 1000;
    transform: scale(1.1);
  }
}

.card {
  width: 100%;
  border: 2px solid $primarygray;
}

.card-img-top {
  border-bottom: 2px solid $primarygray;
  border-radius: 0;
}
