<a class="backarrow" href="#" routerLink="/workterms"> </a>

<body>
<h1>Work Term 2</h1>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-5 order-md-1  d-flex align-items-center ">
    <img class="featurette-image img-fluid mx-auto" style="width: 250px;height:63px" src="../../../assets/img/Camis%20Inc.png" alt="Camis Logo">
  </div>
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading">Software Developer: Camis Inc</h2>
    <p class="details-highlight">
      For my second work term, I was able to secure a position as a
      software developer at Camis Inc.
    </p>
    <p class="details">
      Camis Inc is a software company based in Guelph, Ontario. They provide
      accomodation software to parks for things like campground reservations,
      backcountry camping reservations, marina reservations, equipment rentals,
      Point of Sale services, inventory management, and more. They also
      provide call center services for making park reservations over the phone.
    </p>
  </div>
</div>
<div class="row featurette">
  <div class="col-md-5 order-md-1">
    <p class="details">
      Camis has over a dozen clients who use their software. Among their largest clients
      are Parks Canada, Ontario Parks, Washington State Parks,
      and Michigan State Parks
    </p>
  </div>
  <div class="col-md-7 order-md-2">
    <p class="details">
      The primary Camis Inc office is located in Guelph, Ontario where there is
      a call centre, help desk support, developers, quality assurance, and testers,
      but there are several other offices in the United States that just have
      call centre services.
    </p>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading">My Job</h2>
    <p class="details-highlight">
      At Camis, I was placed on the Sale Squad. Our team was responsible for the sales-
      related functionality of both the desktop and web solutions at Camis. Their desktop
      solution was a Microsoft .NET application using the WPF framework, and their
      web solution was an Angular web application.
    </p>
    <p class="details">
      The sales functionality for their desktop solution included the features that allowed
      users to configure various products, services, fees, etc, as well as the
      software to be used at point-of-sale terminals at park locations.
    </p>
    <p class="details">
      The sales functionality for their web solution was the web store and checkout
      portion of it. Users could add items to their cart or create reservations, and
      then be taken through a checkout workflow that would allow them to enter
      all of the necessary information including payment info, addresses, etc. to purchase
      items and services.
    </p>
    <p class="details">
      Initially, the team consisted of four developers including myself, a QA,
      and a UX designer who had stepped in as the product manager while the
      official product manager was on parental leave.
    </p>
  </div>
  <div class="col-md-5 order-md-1 d-flex align-items-center" style="flex-direction: column">
    <img class="featurette-image img-fluid mx-auto" style="max-width: 256px;max-height: 256px" src="../../../assets/img/csharpbig.png" alt="C Sharp Logo">
    <p class="imgsrc">
      https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/21_Angular_logo_logos-512.png
    </p>
    <img class="featurette-image img-fluid mx-auto" style="max-width: 256px;max-height: 256px" src="../../../assets/img/angular.png" alt="Angular Logo">
    <p class="imgsrc">
      https://upload.wikimedia.org/wikipedia/commons/4/4f/Csharp_Logo.png
    </p>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <h2 class="featurette-heading">Learning Goals</h2>
    <p class="details-highlight">
      Early in my work term, I developed 3 primary learning goals as well as
      action plans for each goal so that I had a well-defined path to achieving
      them. The following is an outline of my goals, how I achieved them, and
      how I knew that I had achieved them.
    </p>
  <div class="col-md-7 order-md-1">
  <h4>Goal 1: Problem Solving</h4>
    <p class="details">
      My first learning goal was to be able to quickly and effectively fix
      bugs and add features based on tickets and user stories.
    </p>
    <p class="details">
      I was able to complete this goal by spending lots of time exploring the
      Camis software on my own, as well as by engaging in pair programming anc
      code reviews with my teammates.
    </p>
    <p class="details">
      By the end of my work term, I was able to fix bugs with similar speed
      and accuracy to some of the full-time developers at Camis.
    </p>
  </div>
  <div class="col-md-5 order-md-2 d-flex align-items-center" style="flex-direction: column">
    <img class="featurette-image img-fluid mx-auto" style="max-width: 256px;max-height: 256px" src="../../../assets/img/problem%20solving.png" alt="C Sharp Logo">
    <p class="imgsrc">
      https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/21_Angular_logo_logos-512.png
    </p>
  </div>
</div>

</body>
