<a class="backarrow" href="#" routerLink="/workterms"> </a>

<body>
  <h1>Work Term 2</h1>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7 order-md-1">
      <h2 class="featurette-heading">Software Developer: Camis Inc</h2>
      <p class="details-highlight">
        For my second work term, I was able to secure a position as a
        software developer at Camis Inc.
      </p>
      <p class="details">
        Camis Inc is a software company based in Guelph, Ontario. They provide
        accomodation software to parks for things like campground reservations,
        backcountry camping reservations, marina reservations, equipment rentals,
        Point of Sale services, inventory management, and more. They also
        provide call center services for making park reservations over the phone.
      </p>
      <p class="details">
        Camis has over a dozen clients who use their software. Among these are
        some very large clients such as:
      </p>
      <ul>
        <li>Parks Canada</li>
        <li>Ontario Parks</li>
        <li>Nova Scotia Provincial Parks</li>
        <li>Toronto and Region Conservation Authority</li>
        <li>Washington State Parks</li>
        <li>Michigan State Parks</li>
      </ul>
      <p class="details">
        The primary Camis Inc office is located in Guelph, Ontario where there is
        a call centre, help desk support, developers, quality assurance, and testers,
        but there are several other offices in the United States that just have
        call centre services.
      </p>
    </div>
    <div class="col-md-5 order-md-2  d-flex align-items-center ">
      <img class="featurette-image img-fluid mx-auto" style="width: 250px;height:63px" src="../../../assets/img/Camis%20Inc.png" alt="Generic placeholder image">
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">My Job</h2>
      <p class="details-highlight">
        At Camis, I was a developer for their desktop and web solutions. Their desktop
        solution was a .NET application
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="../../../assets/img/csharp.png" alt="Generic placeholder image">
    </div>
  </div>
</body>
