<h1>Home</h1>
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" style="margin-bottom: 40px">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1" class=""></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2" class=""></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-caption">
        <h5>Welcome!</h5>
        <p>
          Welcome to my website!
          Here you'll be able to read each of my work term reports, as well
          as some information about me.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-caption">
        <h5>Work Reports</h5>
        <p>
          For my work term reports, click "Work Terms", and
          then select one of the available reports.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-caption">
        <h5>About Me</h5>
        <p>
          For more information about me, click "About Me".
        </p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading">What is a work term report?</h2>
    <p class="details-highlight">
      My work term reports are meant to track my experiences at each of
      my co-op placements. They will have all sorts of information, such
      as:</p>
    <ul>
      <li>
        The company that I was working for
      </li>
      <li>
        What my job was
      </li>
      <li>
        What that company does
      </li>
      <li>
        Who their clients are
      </li>
      <li>
        What the work environment was like
      </li>
      <li>
        Who I was working with
      </li>
      <li>
        Which technologies and tools I used
      </li>
      <li>
        My learning goals for that work term
      </li>
    </ul>
  </div>
  <div class="col-md-5 order-md-1 d-flex align-items-center">
    <div style="flex-direction: column">
      <img class="featurette-image img-fluid mx-auto" src="https://github.com/jjchester/WorktermReports/blob/master/src/assets/img/report.png?raw=true" alt="Generic placeholder image">
      <p class="imgsrc">
        https://cdn0.iconfinder.com/data/icons/business-planning-12/64/x-11-512.png
      </p>
    </div>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">About This Site</h2>
    <p class="details-highlight">
      This website was created with Angular. I decided to make my own
      website instead of using a service like Wordpress because I thought
      it would be a great learning experience. Angular is currently one
      of the most popular web development technologies. It uses a combination
      of HTML, SCSS, and Typescript. I used bootstrap for the HTML side of
      the website because it provides some great components that would be
      extremely difficult to make from scratch.
    </p>
    <p class="details">
      Angular was the first web technology that I ever used in a workplace,
      and I have found that it was very easy to pick up and understand. Typescript
      is a strongly-typed superset of javascript, so it is more structured
      and can avoid many type issues that arise when using javascript.
    </p>
    <p class="details">
      (Github also has free website hosting for Angular, which is nice)
    </p>
  </div>
  <div class="col-md-5 d-flex align-items-center">
    <div style="flex-direction: column">
      <img class="featurette-image img-fluid mx-auto" src="https://github.com/jjchester/WorktermReports/blob/master/src/assets/img/angular.png?raw=true" alt="Angular Logo">
      <p class="imgsrc">
        https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/21_Angular_logo_logos-512.png
      </p>
    </div>
  </div>
</div>
<hr class="featurette-divider">


