$primarygray: rgb(56, 58, 63);

span {
  font-weight: bold;
  cursor: pointer;
}

li,a{
  color: $primarygray;
  font-size: 15px;
}

p {
  font-size: 15px;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#cc2b39' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#cc2b39' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-indicators {
  bottom: -30px;
}
.carousel-indicators li {
  bottom: -30px;
  display: inline-block;
  text-indent: 0;
  cursor: pointer;
  border: none;
  background-color: lighten($primarygray, 60%);
}

.carousel-indicators .active {
  background-color: $primarygray;
}

.carousel-inner {
  background-color: transparent;
  height: 200px;
  display: block;
}

.carousel-caption {
  top: 60px;
  color: black;
  margin-bottom: 0px;
}

.imgsrc {
  font-size: 0.15em;
}
