$primarygray: rgb(56, 58, 63);

span {
  font-weight: bold;
  padding: .3em .8em;
  cursor: pointer;
}

.play-container {
  padding: 3em;
  border: 1px solid lightgray;
  margin-bottom: 1em;

  input {
    padding: 1em;
    margin-bottom: 2em;
  }
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%3a3a3f' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%3a3a3f' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-indicators li {
  margin-bottom: -30px;
  display: inline-block;
  text-indent: 0;
  cursor: pointer;
  border: none;
  background-color: lighten($primarygray, 60%);
}

.carousel-indicators .active {
  background-color: $primarygray;
}


.carousel-inner {
  background-color: transparent;
  height: 200px;
  display: block;
}

.carousel-caption {
  top: 60px;
  color: black;
}

p {
  font-size: 15px;
}
