<h1>Home</h1>
<p>Welcome to my website!</p>
<p>
  Here you'll be able to read each of my work term reports, as well
  as some information about me.
</p>
<p>
  My work term reports are meant to track my experiences at each of
  my co-op placements. They will have all sorts of information, such
  as my learning goals for that work term, which company I was working
  for, what they do, as well as the technologies used there.
</p>
<p>
  For my work term reports, click "Work Terms", and
  then select one of the available reports.
</p>
<p>
  For more information about me, click "About Me".
</p>
<p>
  This website was created with Angular. I decided to make my own
  website instead of using a service like Wordpress because I thought
  it would be a great learning experience. Angular is currently one
  of the most popular web development technologies. It uses a combination
  of HTML, SCSS, and Typescript. I used bootstrap for the HTML side of
  the website because it provides some great components that would be
  extremely difficult to make from scratch.
</p>
