<a class="backarrow" href="#" routerLink="/workterms"> </a>

<body>
<h1>Work Term 3</h1>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-5 order-md-1  d-flex align-items-center ">
    <img class="featurette-image img-fluid mx-auto" style="width: 250px" src="https://github.com/jjchester/WorktermReports/blob/master/src/assets/img/tulip_logo.jpg?raw=true" alt="Tulip Logo">
  </div>
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading">Software Developer: Tulip Retail</h2>
    <p class="details-highlight">
      For my third work term, I worked remotely as a softwave developer at Tulip Retail.
    </p>
    <p class="details">
      Tulip retail is a software solutions company that is based in Kitchener,
      Ontario and previously had an office in Toronto as well. They provide
      retail software to various companies, mostly luxury retailers. The software
      suite offered by Tulip consists of multiple apps for iPad and iPhone, and 
      provides associates with the tools to manage customer profiles, check customers
      out in store, ship items to customers' homes.
    </p>
  </div>
</div>
<div class="row featurette">
  <div class="col-md-5 order-md-1">
    <p class="details">
      Tulip Retail has numerous customers in the luxury fashion industry, including companies
      like Chanel, Kate Spade, Jimmy Choo, and more.
    </p>
  </div>
  <div class="col-md-7 order-md-2">
    <p class="details">
      Although Tulip's office is located in Kitchener, I spent this term working remotely from 
      Guelph. All other developers, designers, testers, managers, etc. were also working remotely as the 
      office is temporarily closed.
    </p>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading">My Job</h2>
    <p class="details-highlight">
      For this term, I was placed on the Delivery team. Our team was responsible for dealing with 
      the large majority of customer-specific issues and communicating with the customers directly. 
    </p>
    <p class="details">
      My efforts on the delivery team were primarily focused on the Tulip Clienteling app, which is
      used by assocaites to create and manage customers for the stores that use Tulip's software. This
      work involved a variety of backend work with multiple APIs and databases, as well as some front-end 
      work with things like the customer capture form for creating new customers. Things like localization,
      fixing bugs, tweaking data, and minor features were part of my daily workload. 
    </p>
    <p class="details">
      The backend portion of my work was largely PHP based, as their main API is written entirely in PHP.
      I had never used PHP before this term so it was tough to get started but I was able to quickly pick
      it up and get to work. 
    </p>
    <p class="details">
      The frontend portion of my work was in HTML and CSS. Although their mobile applications are written primarily
      in Swift, they use WebViews in a number of places which allow dynamic insertion of HTML web pages directly
      into the app. I was responsible for things like implementing localized text, styling of pages, and even adding
      some functionality to the customer capture form that is used by associates to create new customers.
    </p>
    <p class="details">
      The most applicable part of my studies during this work term was effectively working in a team. Working from home
      presented some unique challenges to me in terms of communication, socialization, etc. and having completed courses
      where my team regularly worked apart from each other was a great help in adjusting to that.
    </p>
  </div>
  <div class="col-md-5 order-md-1 d-flex align-items-center" style="flex-direction: column">
    <img class="featurette-image img-fluid mx-auto" style="max-width: 256px;max-height: 256px" src="https://github.com/jjchester/WorktermReports/blob/master/src/assets/img/csharpbig.png?raw=true" alt="C Sharp Logo">
    <p class="imgsrc">
      https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/21_Angular_logo_logos-512.png
    </p>
    <img class="featurette-image img-fluid mx-auto" style="max-width: 256px;max-height: 256px" src="https://github.com/jjchester/WorktermReports/blob/master/src/assets/img/angular.png?raw=true" alt="Angular Logo">
    <p class="imgsrc">
      https://upload.wikimedia.org/wikipedia/commons/4/4f/Csharp_Logo.png
    </p>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <h2 class="featurette-heading">Learning Goals</h2>
    <p class="details-highlight">
      Early in my work term, I developed 3 primary learning goals related to what
      I would be doing as a software developer at Camis, as well as
      action plans for each goal so that I had a well-defined path to achieving
      them. The following is an outline of my goals, how I achieved them, and
      how I knew that I had achieved them.
    </p>

  <div class="col-md-7 order-md-1">
    <h4>Goal 1: Problem Solving</h4>
    <p class="details">
      My first learning goal was to be able to quickly and effectively fix
      bugs and add features based on tickets and user stories.
    </p>
    <p class="details">
      I was able to complete this goal by spending lots of time exploring the
      Camis software on my own, as well as by engaging in pair programming anc
      code reviews with my teammates.
    </p>
    <p class="details">
      By the end of my work term, I was able to fix bugs with similar speed
      and accuracy to some of the full-time developers at Camis. Being able to
      independently locate the source of problems, reproduce reported bugs,
      and make minor changes is a vital skill that I will carry forward with me
      to my future co-op placements.
    </p>
  </div>
  <div class="col-md-5 order-md-2 d-flex align-items-center" style="flex-direction: column">
    <img class="featurette-image img-fluid mx-auto" style="max-width: 256px;max-height: 256px" src="https://github.com/jjchester/WorktermReports/blob/master/src/assets/img/problem%20solving.png?raw=true" alt="C Sharp Logo">
    <p class="imgsrc">
      https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/21_Angular_logo_logos-512.png
    </p>
  </div>

  <div class="col-md-7 order-md-3">
    <h4>Goal 2: Oral Communication</h4>
    <p class="details">
      My second learning goal was to be able to effectively convey my ideas and
      questions in a technical but easily understandable way.
    </p>
    <p class="details">
      I was able to complete this goal by asking lots of questions about technical
      phrases and terminology used during stand-ups and meetings, and by participating
      as much as I could in discussions.
    </p>
    <p class="details">
      I can now properly formulate my questions, ideas, criticisms, and talking
      points in a thoughtful and technically-literate way. Being able to do these
      things is a key skill in any development job, and I will use my valuable
      learning experience from Camis to excel in my next endeavours.
    </p>
  </div>
  <div class="col-md-5 order-md-4 d-flex align-items-center" style="flex-direction: column">
    <img class="featurette-image img-fluid mx-auto" style="max-width: 256px;max-height: 256px" src="https://github.com/jjchester/WorktermReports/blob/master/src/assets/img/communication.png?raw=true" alt="Communication">
    <p class="imgsrc">
      http://icons.iconarchive.com/icons/roundicons/100-free-solid/256/communication-icon.png
    </p>
  </div>


  <div class="col-md-7 order-md-5">
    <h4>Goal 3: Depth and Breadth of Understanding</h4>
    <p class="details">
      My third learning goal was to have a great depth of knowledge and understanding
      of how both the Camis desktop and web solutions worked, how to navigate their
      code, etc.
    </p>
    <p class="details">
      By working on dozens of tickets during my time at Camis, I ended up touching many
      different areas of their desktop and web solutions. Through this exposure I
      was able to get a very good understanding of how their solutions are designed
      and how to properly navigate them.
    </p>
    <p class="details">
      On several occasions, I asked my manager for more exposure to the different technologies
      that Camis was using, and it paid off. I am now fairly proficient in the .NET framework and
      C# programming, WPF application design, Angular web development, and relational database design.
    </p>
  </div>
  <div class="col-md-5 order-md-6 d-flex align-items-center" style="flex-direction: column">
    <img class="featurette-image img-fluid mx-auto" style="max-width: 256px;max-height: 256px" src="https://github.com/jjchester/WorktermReports/blob/master/src/assets/img/gear.png?raw=true" alt="Depth of understanding">
    <p class="imgsrc">
      https://www.pngarts.com/files/1/Gear-PNG-Download-Image.png
    </p>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <h2 class="featurette-heading">Conclusion</h2>
  <p class="details-highlight">
    My work term at Camis was, in my opinion, the most valuable learning experience
    I've had so far. I was treated as a full member of the team, and I got to
    work on real production code and make meaningful contributions.
  </p>
  <p class="details">
    I built on many of my skills during my term at Camis, including my problem solving,
    communication, and developer skills. I was also able to experience what production development
    is really like, and built a significant understanding of the .NET framework,
    WPF applications, and Angular web applications.
  </p>
  <p class="details">
    Spending this past work term at Camis has made me much more confident in my abilities.
    I regularly received positive feedback from both teammates and my
    manager, and now I know that I have what it takes to be a great software developer.
  </p>
</div>

</body>
