<a class="backarrow" href="#" routerLink="/workterms"> </a>

<body>
<h1>Work Term 3</h1>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-5 order-md-1  d-flex align-items-center ">
    <img class="featurette-image img-fluid mx-auto" style="width: 250px" src="https://github.com/jjchester/WorktermReports/blob/master/src/assets/img/tulip_logo.jpg?raw=true" alt="Tulip Logo">
  </div>
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading">Software Developer: Tulip Retail</h2>
    <p class="details-highlight-tulip">
      For my third work term, I worked remotely as a softwave developer at Tulip Retail.
    </p>
    <p class="details">
      Tulip retail is a software solutions company that is based in Kitchener,
      Ontario and previously had an office in Toronto as well. They provide
      retail software to various companies, mostly luxury retailers. The software
      suite offered by Tulip consists of multiple apps for iPad and iPhone, and 
      provides associates with the tools to manage customer profiles, check customers
      out in store, ship items to customers' homes.
    </p>
  </div>
</div>
<div class="row featurette">
  <div class="col-md-5 order-md-1">
    <p class="details">
      Tulip Retail has numerous customers in the luxury fashion industry, including companies
      like Chanel, Kate Spade, Jimmy Choo, and more.
    </p>
  </div>
  <div class="col-md-7 order-md-2">
    <p class="details">
      Although Tulip's office is located in Kitchener, I spent this term working remotely from 
      Guelph. All other developers, designers, testers, managers, etc. were also working remotely as the 
      office is temporarily closed.
    </p>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading">My Job</h2>
    <p class="details-highlight-tulip">
      For this term, I was placed on the Delivery team. Our team was responsible for dealing with 
      the large majority of customer-specific issues and communicating with the customers directly. 
    </p>
    <p class="details">
      My efforts on the delivery team were primarily focused on the Tulip Clienteling app, which is
      used by assocaites to create and manage customers for the stores that use Tulip's software. This
      work involved a variety of backend work with multiple APIs and databases, as well as some front-end 
      work with things like the customer capture form for creating new customers. Things like localization,
      fixing bugs, tweaking data, and minor features were part of my daily workload. 
    </p>
    <p class="details">
      The backend portion of my work was largely PHP based, as their main API is written entirely in PHP.
      I had never used PHP before this term so it was tough to get started but I was able to quickly pick
      it up and get to work. 
    </p>
    <p class="details">
      The frontend portion of my work was in HTML and CSS. Although their mobile applications are written primarily
      in Swift, they use WebViews in a number of places which allow dynamic insertion of HTML web pages directly
      into the app. I was responsible for things like implementing localized text, styling of pages, and even adding
      some functionality to the customer capture form that is used by associates to create new customers.
    </p>
    <p class="details">
      The most applicable part of my studies during this work term was effectively working in a team. Working from home
      presented some unique challenges to me in terms of communication, socialization, etc. and having completed courses
      where my team regularly worked apart from each other was a great help in adjusting to that.
    </p>
  </div>
  <div class="col-md-5 order-md-1 d-flex align-items-center" style="flex-direction: column">
    <img class="featurette-image img-fluid mx-auto" style="max-width: 400" src="https://github.com/jjchester/WorktermReports/blob/master/src/assets/img/php_logo.png?raw=true" alt="PHP Logo">
    <p class="imgsrc">
        https://download.logo.wine/logo/PHP/PHP-Logo.wine.png
    </p>
    <img class="featurette-image img-fluid mx-auto" style="max-width: 256px;max-height: 256px" src="https://github.com/jjchester/WorktermReports/blob/master/src/assets/img/html_logo.png?raw=true" alt="HTML 5 Logo">
    <p class="imgsrc">
        https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/512px-HTML5_logo_and_wordmark.svg.png
    </p>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <h2 class="featurette-heading">Learning Goals</h2>
    <p class="details-highlight-tulip">
      My learning goals this term were all from different categories because I wanted to take as much as I could 
      out of this term, as it was one of my final terms, and Tulip would be the last company I worked with before
      graduating.
    </p>

  <div class="col-md-7 order-md-1">
    <h4>Goal 1: Technological Literacy</h4>
    <p class="details">
      My first learning goal was to be able to competently review a merge request for a full customer integration into the Tulip ecosystem.
      An integration is effectively the customization that needs to be done on a per-customer basis for any new customer to be set up with Tulip.
    </p>
    <p class="details">
      I was able to complete this goal by spending lots of time reviewing, both on my own and in pairs, merge requests from other developers on 
      my team. I was also able to work on a few integrations myself which allowed me to spot any problems that might show up in a new integration MR.
    </p>
    <p class="details">
      By the end of my first term with Tulip I was able to competently review integration MRs as well as any other MR that came my way. This is a very
      important skill to develop because, to be a successful developer, you need to be able to read other people's code and find any potential issues.
    </p>
  </div>
  <div class="col-md-5 order-md-2 d-flex align-items-center" style="flex-direction: column">
    <img class="featurette-image img-fluid mx-auto" style="max-width: 256px;max-height: 256px" src="https://github.com/jjchester/WorktermReports/blob/master/src/assets/img/literacy.png?raw=true" alt="C Sharp Logo">
    <p class="imgsrc">
        https://miro.medium.com/max/306/1*JbXe-wn4CivSw6e9GmmFvw.png
    </p>
  </div>

  <div class="col-md-7 order-md-3">
    <h4>Goal 2: Depth and Breadth of Understanding</h4>
    <p class="details">
      My second learning goal was to have a solid understanding of the various projects that the Delivery Team worked on. 
    </p>
    <p class="details">
      I was able to complete this goal by picking up work across the full breadth of projects that Delivery works on, such as the
      backend API projects, customer capture, file exporter, etc. By completing this variety of work I was able to understand how 
      each project worked both independently and with other projects.
    </p>
    <p class="details">
      I know I completed my goal because, by the end of my term, I could pick up a ticket from almost anything that Delivery owned
      and quickly know where to look and how I might solve the problem.
    </p>
  </div>
  <div class="col-md-5 order-md-4 d-flex align-items-center" style="flex-direction: column">
    <img class="featurette-image img-fluid mx-auto" style="max-width: 256px;max-height: 256px" src="https://github.com/jjchester/WorktermReports/blob/master/src/assets/img/gear.png?raw=true" alt="Communication">
    <p class="imgsrc">
        https://lh3.googleusercontent.com/proxy/Xdte2UgGhkGa6ACNMyGi3sXc9nbDwQXFraV422v7
    </p>
  </div>


  <div class="col-md-7 order-md-5">
    <h4>Goal 3: Personal Learning Goal</h4>
    <p class="details">
      My third learning goal was to be able to take what I learned during this term and apply it to my own projects.
    </p>
    <p class="details">
      Similar to my second goal, the large volume and breadth of the tickets I worked on provided me with the necessary
      tools to take the various things I learned and apply them to my own future projects.
    </p>
    <p class="details">
      Combined with my next co-op term, I will be able to take the backend knowledge from this term and the  mobile development
       knowledge from my next term and apply them to my own projects.
    </p>
  </div>
  <div class="col-md-5 order-md-6 d-flex align-items-center" style="flex-direction: column">
    <img class="featurette-image img-fluid mx-auto" style="max-width: 256px;max-height: 256px" src="https://github.com/jjchester/WorktermReports/blob/master/src/assets/img/merge.jpg?raw=true" alt="Depth of understanding">
    <p class="imgsrc">
        https://media.istockphoto.com/vectors/consolidation-icon-in-flat-style-merge-symbol-vector
    </p>
  </div>
</div>

<hr class="featurette-divider tulip" style="border-color: #df687a;">

<div class="row featurette">
  <h2 class="featurette-heading">Conclusion</h2>
  <p class="details-highlight-tulip">
    My experience on the Delivery Team at Tulip was fantastic. Each and every person I worked with was
    talented, knowledgable, and understanding.
  </p>
  <p class="details">
    Working on this team provided me with a lot of opportunities to grow and learn in a lot of different ways. 
    I was always treated as a full member of the team and got to make some real contributions to the work that
    was being done. 
  </p>
  <p class="details">
    I am extremely glad that Tulip chose to have me for this term and I'm looking forward to spending my next term 
    here with the Checkout team.
  </p>
</div>

</body>
