<a class="backarrow" href="#" routerLink="/workterms"> </a>

<body>
<h1>Work Term 3</h1>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-5 order-md-1  d-flex align-items-center ">
    <img class="featurette-image img-fluid mx-auto" style="width: 250px" src="https://github.com/jjchester/WorktermReports/blob/master/src/assets/img/Tulip Retail.png?raw=true" alt="Tulip Logo">
  </div>
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading">Software Developer: Tulip Retail</h2>
    <p class="details-highlight-tulip">
      For my third work term, I worked remotely as a softwave developer at Tulip Retail, but for this term I was on a new team and working on different projects to my previous term.
    </p>
    <p class="details">
      Tulip retail is a software solutions company that is based in Kitchener,
      Ontario and previously had an office in Toronto as well. They provide
      retail software to various companies, mostly luxury retailers. The software
      suite offered by Tulip consists of multiple apps for iPad and iPhone, and 
      provides associates with the tools to manage customer profiles, check customers
      out in store, ship items to customers' homes.
    </p>
  </div>
</div>
<div class="row featurette">
  <div class="col-md-5 order-md-1">
    <p class="details">
      Tulip Retail has numerous customers in the luxury fashion industry, including companies
      like Chanel, Kate Spade, Jimmy Choo, and more.
    </p>
  </div>
  <div class="col-md-7 order-md-2">
    <p class="details">
      I continued to work from home for this work term as the Tulip office remained closed for the S21 semester, although I was much more
      accustomed to working from home by the time I started my term.
    </p>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading">My Job</h2>
    <p class="details-highlight-tulip">
      For this term, I was placed on the Checkout team, and we were responsible for the frontend and backend of the Tulip
      checkout mobile app.
    </p>
    <p class="details">
      The Tulip checkout app is is used by associates to sell products in-store and over the phone directly to customers. Things like product catalogs, 
      inventory, cash drawers, point-of-sale, and payment processing are all the responsibility of the Checkout team.
    </p>
    <p class="details">
      Similarly to my previous term, the main backend work was in PHP. I was much more familiar with PHP this term and was able to hit the ground
      running with the backend work, and by the end of my term I was very comfortable navigating and working in the backend.
    </p>
    <p class="details">
      The frontend portion of my work was in Swift, the native language for iOS development. I was very excited to be doing iOS development on this
      team because I have a personal interest in it and have done some small personal projects with Swift before. Despite my personal experience, production
      Swift code is wildly different than anything I'd seen up until that point so I knew I had a lot to learn if I was going to work competently on
      the front end of Checkout.
    </p>
    <p class="details">
      Since I ended up doing a lot of API work during this term, I'd say that CIS3750 was the most applicable part of my education to this role. That course
      is where I got my first hands-on experience with the structure and development of APIs.
    </p>
  </div>
  <div class="col-md-5 order-md-1 d-flex align-items-center" style="flex-direction: column">
    <img class="featurette-image img-fluid mx-auto" style="max-width: 400" src="https://github.com/jjchester/WorktermReports/blob/master/src/assets/img/php_logo.png?raw=true" alt="PHP Logo">
    <p class="imgsrc">
        https://download.logo.wine/logo/PHP/PHP-Logo.wine.png
    </p>
    <img class="featurette-image img-fluid mx-auto" style="max-width: 256px;max-height: 256px" src="https://github.com/jjchester/WorktermReports/blob/master/src/assets/img/swift.dms?raw=true" alt="Swift Logo">
    <p class="imgsrc">
      http://assets.stickpng.com/images/58482ce4cef1014c0b5e4a4c.png
    </p>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <h2 class="featurette-heading">Learning Goals</h2>
    <p class="details-highlight-tulip">
      Moving to the Checkout team, I knew I would have a lot to learn, so most of my learning goals are based around depth and breadth of understanding
      for the Tulip stack.
    </p>

  <div class="col-md-7 order-md-1">
    <h4>Goal 1: Depth & Breadth of Understanding</h4>
    <p class="details">
      My first learning goal was to have a thorough understanding of Tulip's monolith API, both internally and how it works with various other projects. 
      Almost any interaction with the Tulip backend passes through that API so knowing how it works is vital to understanding the Tulip stack.
    </p>
    <p class="details">
      I was able to complete this goal by picking up a plethora of tickets that touch on various parts of the API. I spent roughly 60-70% of my time on the
      Checkout team working on the API.
    </p>
    <p class="details">
      By the end of my term with the Checkout team I was very confident working with the API and could comfortably pick up almost any backend ticket, ranging from
      simple bug fixes to adding full endpoints that communicate with the frontend.
    </p>
  </div>
  <div class="col-md-5 order-md-2 d-flex align-items-center" style="flex-direction: column">
    <img class="featurette-image img-fluid mx-auto" style="max-width: 256px;max-height: 256px" src="https://github.com/jjchester/WorktermReports/blob/master/src/assets/img/api.png?raw=true" alt="API clipart">
    <p class="imgsrc">
      https://icon2.cleanpng.com/programming-interface-representational.jpg
    </p>
  </div>

  <div class="col-md-7 order-md-3">
    <h4>Goal 2: Depth and Breadth of Understanding</h4>
    <p class="details">
      Secondly, I wanted to end my term with a solid understanding of the frontend iOS code and the (very complicated) dependency injection framework that it's built on. 
    </p>
    <p class="details">
      I was able to complete my goal by working with my assigned buddy who happened to be the dedicated iOS developer for the Checkout team. He was very helpful
      through the whole semester and was always very willing to answer any questions I had. We also did quite a lot of pair programming where he would direct me
      and I would do the programming, which was a really valuable learning experience.
    </p>
    <p class="details">
      By the end of my term I was fairly comfortable with fixing front-end bugs and making minor front-end additions or changes but was not comfortable with
      implementing full front-end features on my own. I would say I mostly met my goal but wish I had more time to learn the DI framework.
    </p>
  </div>
  <div class="col-md-5 order-md-4 d-flex align-items-center" style="flex-direction: column">
    <img class="featurette-image img-fluid mx-auto" style="max-width: 256px;max-height: 256px" src="https://github.com/jjchester/WorktermReports/blob/master/src/assets/img/xcode.png?raw=true" alt="Xcode logo">
    <p class="imgsrc">
        https://lh3.googleusercontent.com/proxy/Xdte2UgGhkGa6ACNMyGi3sXc9nbDwQXFraV422v7
    </p>
  </div>


  <div class="col-md-7 order-md-5">
    <h4>Goal 3: Personal Learning Goal</h4>
    <p class="details">
      My third learning goal was to be able to take what I learned during this term and apply it to my own projects.
    </p>
    <p class="details">
      Similar to my second goal, the large volume and breadth of the tickets I worked on provided me with the necessary
      tools to take the various things I learned and apply them to my own future projects.
    </p>
    <p class="details">
      Combined with my next co-op term, I will be able to take the backend knowledge from this term and the  mobile development
       knowledge from my next term and apply them to my own projects.
    </p>
  </div>
  <div class="col-md-5 order-md-6 d-flex align-items-center" style="flex-direction: column">
    <img class="featurette-image img-fluid mx-auto" style="max-width: 256px;max-height: 256px" src="https://github.com/jjchester/WorktermReports/blob/master/src/assets/img/merge.jpg?raw=true" alt="Depth of understanding">
    <p class="imgsrc">
        https://media.istockphoto.com/vectors/consolidation-icon-in-flat-style-merge-symbol-vector
    </p>
  </div>
</div>

<hr class="featurette-divider tulip" style="border-color: #df687a;">

<div class="row featurette">
  <h2 class="featurette-heading">Conclusion</h2>
  <p class="details-highlight-tulip">
    My experience on the Delivery Team at Tulip was fantastic. Each and every person I worked with was
    talented, knowledgable, and understanding.
  </p>
  <p class="details">
    Working on this team provided me with a lot of opportunities to grow and learn in a lot of different ways. 
    I was always treated as a full member of the team and got to make some real contributions to the work that
    was being done. 
  </p>
  <p class="details">
    I am extremely glad that Tulip chose to have me for this term and I'm looking forward to spending my next term 
    here with the Checkout team.
  </p>
</div>

</body>
